@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  font-weight: 100 900;
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

:root {
  /* primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* ### Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);

  --font-family-default: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: var(--font-family-default);
  /* background: var(--Marine-blue); */
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.multi-step-frame {
  max-width: 800px;
  display: grid;
  overflow: hidden;
}

.multi-step-frame {
  display: grid;
  grid-template-columns: 250px 500px;
  padding: 10px;
  background: var(--White);
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 550px;
}

.sidebar {
  flex-basis: 30%;
  background: url(./assets/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-size: cover;
  padding: 25px;
  border-radius: 10px;
}

.stages {
  display: flex;
  align-items: flex-start;
}

.stages .current-stage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  margin-right: 10px;
  color: var(--White);
}

.current-stage.active-stage {
  background-color: var(--Light-gray);
  color: var(--Marine-blue);
}

.stages[data-item-type="acents"] {
  margin-bottom: 40px;
}

.steps {
  color: var(--Cool-gray);
  text-transform: uppercase;
  font-size: 12px;
}

.stages .steps span {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--White);
}

/* ..........................Main-content-------------------- */

.details-frame {
  flex-basis: 70%;
  position: relative;
  /* overflow: hidden; */
}

.step-details {
  width: 100%;
  padding: 40px 70px;
  position: absolute;
  z-index: 11;
}

.active {
  display: block;
}

.section-title {
  font-weight: 800;
  font-size: 24px;
  color: var(--Marine-blue);
  margin-bottom: 10px;
}

.stage-description {
  color: var(--Cool-gray);
  margin-bottom: 20px;
}

.status-tag {
  color: var(--Marine-blue);
  font-size: 16px;
  margin-bottom: 5px;
}

.userfield {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  border: 1px solid var(--Light-gray);
  margin-bottom: 20px;
  background-color: transparent;
}

.next-btn {
  border: 0;
  outline: 0;
  color: var(--Light-gray);
  background: var(--Marine-blue);
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  float: right;
  /* margin-top: 100px; */
}
.ctrl-form1 .next-btn {
  position: absolute;
  right: 0;
}

#form2,
#form3,
#form4 {
  left: 120%;
}

.payments-plans-frame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.payments {
  border: 1px solid var(--Light-gray);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 130px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.payments img {
  width: 25px;
  /* margin-bottom: 50px;*/
}

.active-payment,
.payments:hover {
  border-color: var(--Marine-blue);
}

.theme {
  font-size: 14px;
  font-weight: 800;
  color: var(--Marine-blue);
}

.plan-amt {
  color: var(--Cool-gray);
  font-size: 12px;
}

.billing-zone[data-item-type="large"] {
  margin: 30px 0 0;
}

.sub-plans-frame {
  height: 180px;
  position: relative;
  overflow: hidden;
  /* background-color: red; */
}

.sub-plans {
  display: none;
  position: absolute;
  width: 100%;
}

.active-subplans {
  display: block;
}

.controls {
  margin-top: 95px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ctrl-form1 {
  margin-top: 100px;
}

.plan-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Alabaster);
  padding: 10px;
  /* position: relative; */
}

#toggle-btn {
  width: 45px;
  padding: 2px 3px;
  background: var(--Marine-blue);
  margin: 0 20px;
  display: flex;
  /* align-items: center; */
  border-radius: 20px;
  cursor: pointer;
  transition: padding-left 0.5s background 0.5s;
}

#toggle-btn span {
  width: 18px;
  height: 18px;
  background: var(--White);
  border-radius: 50%;
  display: inline-block;
}

#toggle-btn.toggle-left {
  padding-left: 23px;
  background: var(--Marine-blue);
}

.sub-package {
  color: var(--Cool-gray);
}

.sub-package.active-package {
  color: var(--Marine-blue);
}

.controls a {
  display: flex;
  text-decoration: none;
  color: var(--Cool-gray);
  font-size: 14px;
}

.gaming-experience {
  display: grid;
  /* margin-top: 40px; */
}

.gamesFrame {
  display: none;
}

.active-game-frame {
  display: block;
}

.games {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  outline: 0;
  border: 1px solid var(--Light-gray);
  padding: 16px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto 15px;
}

.active-game-info,
.games:hover {
  border-color: var(--Marine-blue);
}

.game-info {
  width: 100%;
  margin-left: 20px;
}

.game-title {
  font-weight: 800;
  color: var(--Marine-blue);
}
.game-price {
  font: 14px;
  color: var(--Purplish-blue);
}

.game-info span {
  color: var(--Cool-gray);
  font-size: 14px;
  font-weight: 500;
}

.add-ons-plans .controls {
  margin-top: 85px;
}

#form5 {
  left: 120%;
}
.step-details.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 100px;
  margin-top: 100px;
}

.step-details.summary img {
  width: 70px;
}

.courtesy-msg {
  margin: 20px 0;
  color: var(--Marine-blue);
  font-weight: 700;
}
.thank-msg {
  max-width: 350px;
  font-size: 12px;
  color: var(--Cool-gray);
}

/* --------------------@media Queries--------------------- */
@media screen and (max-width: 600px) {
  .multi-step-frame {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: var(--White);
  }

  .sidebar {
    background: url("./assets/images/bg-sidebar-mobile.svg");
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 0;
  }

  .sidebar .stages {
    display: inline-block;
    text-align: center;
  }

  .steps {
    display: none;
  }

  .details-frame {
    background-color: var(--Magnolia);
    display: flex;
    justify-content: center;
    max-height: 330px;
  }

  .step-details {
    background: var(--White);
    width: 400px;
    margin-top: -90px;
    padding: 20px 20px;
    border-radius: 10px;
  }

  .controls {
    position: absolute;
    top: 335px;
  }

  .step-det2 {
    margin-left: 80px;
  }
  .step-det3 {
    margin-right: 50px;
  }
  .ctrl-form1 {
    margin-top: 110px;
  }

  .controls3 {
    margin-top: 150px;
  }
}
